@import "./styles/fonts.scss";

body {
	margin: 0px;
	box-sizing: border-box;
	font-family: NotoSans-Light, Helvetica, Arial, Verdana, Tahoma, sans-serif;
	background-color: #f7f9fc;
	min-width: 1375px;
}
