@import "../../../styles/colors.scss";

.Pill-container {
	box-sizing: border-box;
	display: flex;
	height: 25px;
	padding: 2px 10px;
	margin-bottom: 10px;
	border: 1px solid $borderColor;
	border-radius: 7px;
	color: $primaryBlackColor;
	font-family: "NotoSans-Regular";
	font-size: 14px;
	margin-right: 20px;
	.pill-value {
		padding-left: 8px;
		display: flex;
		.dot-container {
			margin-right: 15px;
		}
		.dot-container:last-child {
			margin-right: 10px;
		}
	}
	.Pill-vertical-separator {
		height: 16px;
		align-self: center;
	}

	.pill-remove-icon {
		margin-left: 10px;
		align-self: center;
	}
}
