$primaryBlackColor: #212129;
$filterSelectedColor: #dbedff;
$linkSelectedColor: #0676ed;
$linkHoveredColor: #4ca0fa;
$borderColor: #c8c8c8;
$scoreSelectedColor: #ebf4fe;
$hoverBorderColor: #1f8efa;
$tableTextHover: #16abe0;
$tabTextHover: #4ec7f0;
$tabContainerBorderBottom: #e7e7e7;
$verticalSeparatorBGColor: #d5d5d5;
$defaultBackgroundColor: #fff;
$tableBestSellerKeywordBorderBottom: #858585;
$tableHeadingLightColor: #717171;
$brandCompareHeaderColor: #004384;
$scrollbarColor: #9dcafb;
$brandCompareSearchContainerColor: #9fa3a7;
$brandCompareKeywordTableHeaderText: #717171;
$brandCompareKeywordTableFirstRow: #f2f2f2;
$brandCompareClientColor: #fafafa;
$compareDateRangeColor: #fef2ec;
