.label-container {
	color: #9fa3a7;
	font-family: "NotoSans-SemiBold";
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 26px;
	.regular {
		font-family: "NotoSans-Regular";
	}
}
