@import "../../../../styles/colors.scss";

.data-load-error-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
	.error-message {
		color: $primaryBlackColor;
		font-family: "NotoSans-Regular";
		font-size: 14px;
		letter-spacing: 0;
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.retry-message {
		display: flex;
		flex-direction: row;
		color: $primaryBlackColor;
		font-family: "NotoSans-SemiBold";
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 1px;
		line-height: 18px;
		cursor: pointer;
		.retry-icon {
			padding-right: 10px;
		}
		.refresh-text {
			margin-bottom: none;
		}
	}
}
