@import "../../../styles/colors.scss";

.tooltip {
	display: inline-block;
	position: relative;
	text-align: left;
	vertical-align: middle;
	.top {
		width: 160px;
		max-width: 180px;
		max-height: 150px;
		top: -20px;
		left: 75px;
		line-height: 14px !important;
		letter-spacing: 1px !important;
		text-overflow: ellipsis;
		word-wrap: break-word;
		transform: translate(-50%, -100%);
		padding: 10px;
		background-color: #000;
		border: 1px solid #e7e7e7;
		border-radius: 4px;
		position: absolute;
		z-index: 3;
		box-sizing: border-box;
		box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.03);
		display: block;
		i {
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -12px;
			width: 24px;
			height: 12px;
			overflow: hidden;
			&::after {
				content: "";
				position: absolute;
				width: 15px;
				height: 15px;
				left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
				background-color: #000;
				border: 1px solid #e7e7e7;
				box-sizing: border-box;
				box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.03);
			}
		}
		.tooltip-text {
			color: #ffffff;
			font-family: "NotoSans-Condensed";
			font-size: 10px;
			letter-spacing: 0;
			line-height: 15px;
		}
	}
}
