@import "../../../../styles/colors.scss";

.compare-header {
	z-index: 2;
	.card-container {
		z-index: 2;
		padding: 0px;
		margin-top: 30px;
		box-sizing: border-box;
		border: 1px solid $tabContainerBorderBottom;
		border-radius: 10px;
		background-color: $defaultBackgroundColor;
		box-shadow: 0 20px 60px -22px rgba(0, 67, 132, 0.3);
	}
	.compare-header-container {
		display: flex;
		flex-direction: column;
		.compare-header-content {
			display: flex;
			flex-direction: row;
			border-bottom: 1px solid $tabContainerBorderBottom;
			.compare-header-title {
				color: $primaryBlackColor;
				font-family: "NotoSans-Bold";
				font-size: 18px;
				padding: 10px 30px;
				letter-spacing: 0;
				line-height: 26px;
				display: flex;
				align-items: center;
			}
			.compare-sets {
				align-items: center;
				display: flex;
				.vertical-separator {
					height: 16px;
				}
				.presets-icon {
					margin-left: 30px;
				}
				.presets-title {
					color: #212129;
					font-family: "NotoSans-SemiBold";
					font-size: 12px;
					font-weight: 600;
					letter-spacing: 1px;
					line-height: 18px;
					margin-left: 13px;
				}
				.dropdown-arrow {
					margin-left: 13px;
				}
			}
			.compare-header-items {
				display: flex;
				flex-direction: row;
				justify-self: center;
				align-items: center;
				margin-left: auto;
				.items-list {
					display: flex;
					flex-direction: row;
					align-items: center;
					.items {
						display: flex;
						flex-direction: column;
						align-items: center;
						color: $primaryBlackColor;
						padding: 10px 30px;
						font-family: "NotoSans-SemiBold";
						font-size: 10px;
						letter-spacing: 1px;
						.compare-items {
							padding-bottom: 10px;
							width: 25px;
							height: 25px;
						}
					}
					.vertical-separator {
						height: 16px;
					}
				}
			}
		}

		.compare-header-brands-list-conatiner {
			display: flex;
			flex-direction: row;
			.compare-header-filter {
				width: 100%;
				display: flex;
				flex-direction: column;
				position: relative;
				border-right: 1px solid $tabContainerBorderBottom;

				.item-checkbox {
					position: absolute;
					padding: 4px;
					&:hover {
						background-color: $defaultBackgroundColor;
					}
					.icon-class {
						height: 14px;
						width: 14px;
					}
				}

				.compare-header-filter-content {
					display: flex;
					margin: 29px 29px 20px 18px;
					align-items: center;
					justify-content: space-evenly;
					.product-image {
						height: 30px;
						width: 16px;
						pointer-events: none;
					}
					.product-id {
						color: #212129;
						font-family: "NotoSans-SemiBold";
						font-size: 14px;
						.top {
							left: 59px;
							.tooltip-text {
								font-size: 12px;
								line-height: 18px;
							}
						}
						&:hover {
							color: #4ca0fa;
						}
					}
				}
				.compare-brand-color {
					height: 6px;
					border-bottom: inherit;
				}
			}
			.compare-header-filter.first {
				.compare-brand-color {
					-webkit-border-bottom-left-radius: 10px 10px;
					-moz-border-bottom-left-radius: 10px 10px;
					border-bottom-left-radius: 10px 10px;
				}
			}

			.compare-header-filter.last {
				border-right: none;
				.compare-brand-color {
					-webkit-border-bottom-right-radius: 10px 10px;
					-moz-border-bottom-right-radius: 10px 10px;
					border-bottom-right-radius: 10px 10px;
				}
			}
		}
	}
}
