@import "../../../styles/colors.scss";

.filter-bar_compare-container {
	.filters-bar-container {
		box-sizing: border-box;
		height: 50px;
		// width: 763px;
		border: 1px solid #e7e7e7;
		border-radius: 10px;
		background-color: #ffffff;
		box-shadow: 0 20px 60px -22px rgba(0, 67, 132, 0.3);
		margin-top: 30px;
		margin-bottom: 4px;
		display: flex;
		position: relative;
		overflow: hidden;
		.funnel-container {
			height: 48px;
			width: 57px;
			border-radius: 9px 0 0 9px;
			background-color: #fafafa;
			display: flex;
			align-items: center;
			justify-content: center;
			&.applied {
				background-color: #f2f2f2;
			}
			.icon-class {
				cursor: default;
			}
		}
		.vertical-separator {
			height: 48px;
		}

		.brands-filter-container,
		.categories-filter-container,
		.asin-filter-container,
		.presets-filter-container {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 4px 0 0 25px;
			border-bottom: 4px solid transparent;
			.label-container {
				color: $primaryBlackColor;
				font-family: "NotoSans-SemiBold";
				font-size: 12px;
				letter-spacing: 1px;
				line-height: 18px;
				margin: 0px 13px;
			}
			.vertical-separator {
				margin-left: 25px;
			}
			&:hover {
				cursor: pointer;
				border-bottom: 4px solid #dbedff;
			}
			&.selected {
				background-color: $filterSelectedColor;
			}
			&.applied {
				.label-container {
					color: $linkSelectedColor;
				}
			}
		}

		// .presets-filter-container {
		// 	width: 25%;
		// 	border-bottom-right-radius: inherit;
		// 	justify-content: inherit;
		// }

		.presets-filter-container {
			padding-right: 20px;
			.vertical-separator {
				height: 48px;
			}
		}
	}
	.asin-dropdown,
	.brands-dropdown,
	.categories-dropdown,
	.presets-dropdown {
		position: absolute;
	}
}

.checkbox-container {
	display: flex;
	align-items: center;
	&:hover {
		cursor: pointer;
		background-color: #ebf4fe;
	}
	.primary-button {
		&.small {
			margin-left: auto;
			margin-right: 8%;
			width: 72px;
			height: 22px;
		}
	}
}
